<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProektMobilniAplikacii.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D166040A1E81631D00E25BDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D166041E1E81631D00E25BDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D16604291E81631D00E25BDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
